{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm text-center">
                <div class="card-body p-4">
                    <h4 class="card-title mb-3">Password Reset Complete</h4>
                    <p class="text-success mb-4">
                        Your password has been set. You can now log in with your new password.
                    </p>
                    <a href="{% url 'users-login' %}" class="btn btn-primary btn-lg w-100">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}